#background {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#left {
    margin-left: 10%;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}

#middle {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#right {
    width: 50%;
    height: 100%;
    display: flex;
    margin-right: 10%;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

h1 {
    font-family: 'Jura', sans-serif;
    @import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');
    font-size: 3rem;
    color: #fff;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-bottom: 0.5em;
    text-align: left;
    text-transform: uppercase;
}
.input {
    width: 70% !important;
    margin: 4em 0 2em 0;
    display:inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.button {
    background-color: white;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    width: 100%;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 15px;
    font-family: 'Jura', sans-serif;
}

#right-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

a {
    width: 70%;
}